doctype html
html
    head
        title React Shopping List
        script(src="javascript/libs/react.js")
        script(src="javascript/libs/react-dom.js")
        script(src="javascript/libs/jquery-2.1.4.min.js")
        script(src="javascript/dist/reactApp.js")
        link(href='css/dist/all.css', rel='stylesheet')
    body
        block content